# @formatter:off
###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
indent_style = space

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 4

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 4

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true




###############################
# .NET Coding Conventions     #
###############################
# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
csharp_using_directive_placement = outside_namespace:error

# this. preferences
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_property = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_event = false:error
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:error
# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
dotnet_style_readonly_field = true:error
# Expression-level preferences
dotnet_style_object_initializer = true:error
dotnet_style_collection_initializer = true:error
dotnet_style_explicit_tuple_names = true:error
dotnet_style_null_propagation = true:error
dotnet_style_coalesce_expression = true:error
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error
dotnet_style_prefer_inferred_tuple_names = true:error
dotnet_style_prefer_inferred_anonymous_type_member_names = true:error
dotnet_style_prefer_auto_properties = true:error
dotnet_style_prefer_conditional_expression_over_assignment = true:error
dotnet_style_prefer_conditional_expression_over_return = true:error


###############################
# Naming Conventions          #
###############################

# Naming Style Case Definitions
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_style.all_upper_case_style.capitalization = all_upper

dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case
dotnet_naming_style.camel_case_underscore_style.required_prefix = _

### 1. Use PascalCase for constant fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = error
dotnet_naming_rule.constant_fields_should_be_pascal_case.style = all_upper_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds = field
dotnet_naming_symbols.constant_fields.applicable_accessibilities = *
dotnet_naming_symbols.constant_fields.required_modifiers = const

### 2. Use PascalCase for public properties.
dotnet_naming_rule.public_members_must_be_pascal_case.symbols = public_symbols
dotnet_naming_rule.public_members_must_be_pascal_case.severity = error
dotnet_naming_rule.public_members_must_be_pascal_case.style = pascal_case_style
dotnet_naming_symbols.public_symbols.applicable_kinds = property, method, field, event, delegate
dotnet_naming_symbols.public_symbols.applicable_accessibilities = public

### 3. Use _camelCase with underscore for private fields
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_rule.private_fields_camel_case_underscore_style.symbols = private_fields
dotnet_naming_rule.private_fields_camel_case_underscore_style.style = camel_case_underscore_style
dotnet_naming_rule.private_fields_camel_case_underscore_style.severity = error

### 4. Use _camelCase with underscore for private static fields
dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.required_modifiers = static
dotnet_naming_rule.private_static_fields_none.symbols = private_static_fields
dotnet_naming_rule.private_static_fields_none.style = camel_case_underscore_style
dotnet_naming_rule.private_static_fields_none.severity = error

### 5. For variables
dotnet_naming_symbols.local_symbol.applicable_kinds = local
dotnet_naming_style.local_style.capitalization = camel_case
dotnet_naming_rule.variables_are_camel_case.severity = error
dotnet_naming_rule.variables_are_camel_case.symbols = local_symbol
dotnet_naming_rule.variables_are_camel_case.style = local_style

### 6. For parameters
dotnet_naming_symbols.parameter_symbol.applicable_kinds = parameter
dotnet_naming_style.parameter_style.capitalization = camel_case
dotnet_naming_rule.parameters_are_camel_case.severity = error
dotnet_naming_rule.parameters_are_camel_case.symbols = parameter_symbol
dotnet_naming_rule.parameters_are_camel_case.style = parameter_style


### 7. Naming C# interfaces.
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public
dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.capitalization = pascal_case
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i
dotnet_naming_rule.interface_should_be_begins_with_i.severity = error


###############################
# DotNet Diagnostic Rules       #
###############################
dotnet_diagnostic.CA1725.severity = error


###############################
# C# Coding Conventions       #
###############################
[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error
csharp_style_var_elsewhere = true:error
# Expression-bodied members
csharp_style_expression_bodied_methods = false:error
csharp_style_expression_bodied_constructors = false:error
csharp_style_expression_bodied_operators = false:error
csharp_style_expression_bodied_properties = false:error
csharp_style_expression_bodied_indexers = true:error
csharp_style_expression_bodied_accessors = false:error
# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:error
csharp_style_pattern_matching_over_as_with_null_check = true:error
# Null-checking preferences
csharp_style_throw_expression = true:error
csharp_style_conditional_delegate_call = true:error
# Modifier preferences
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:error
# Expression-level preferences
csharp_prefer_braces = true:error
csharp_style_deconstructed_variable_declaration = true:error
csharp_prefer_simple_default_expression = true:error
csharp_style_prefer_local_over_anonymous_function = true:error
csharp_style_inlined_variable_declaration = true:error
csharp_style_namespace_declarations = file_scoped:error
csharp_style_unused_value_assignment_preference = discard_variable:error
csharp_style_prefer_switch_expression = false

####################################
# arrangemnt of attributes in C#
#####################################
csharp_max_attribute_length_for_same_line = 1
csharp_keep_existing_attribute_arrangement = false
csharp_keep_existing_arrangement = false
csharp_place_type_attribute_on_same_line = false
csharp_place_method_attribute_on_same_line = false
csharp_place_attribute_on_same_line = false
csharp_place_accessorholder_attribute_on_same_line = false
csharp_place_accessor_attribute_on_same_line = false
csharp_place_field_attribute_on_same_line = false


###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_indent_case_contents_when_block = false

# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true


###############################
# C# Analyzer Rules         #
###############################
[*.cs]
dotnet_analyzer_diagnostic.category-Style.severity = error
dotnet_analyzer_diagnostic.category-Reliability.severity = error
dotnet_analyzer_diagnostic.category-Naming.severity = error
dotnet_analyzer_diagnostic.category-Design.severity = error
dotnet_analyzer_diagnostic.category-Documentation.severity = error
dotnet_analyzer_diagnostic.category-Globalization.severity = error
dotnet_analyzer_diagnostic.category-Interoperability.severity = error
dotnet_analyzer_diagnostic.category-Maintainability.severity = error
dotnet_analyzer_diagnostic.category-Naming.severity = error
dotnet_analyzer_diagnostic.category-Performance.severity = error
dotnet_analyzer_diagnostic.category-SingleFile.severity = error
dotnet_analyzer_diagnostic.category-Reliability.severity = error
dotnet_analyzer_diagnostic.category-Security.severity = error
dotnet_analyzer_diagnostic.category-Style.severity = error
dotnet_analyzer_diagnostic.category-Usage.severity = error
dotnet_analyzer_diagnostic.category-CodeQuality.severity = error


###############################
# C# Linebreak Rules         #
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_LineBreaksPageSchema.html
###############################
csharp_keep_user_linebreaks = true
csharp_max_line_length = 140
csharp_wrap_before_comma = false
csharp_special_else_if_treatment = true
csharp_insert_final_newline = true
csharp_max_attribute_length_for_same_line = 80
csharp_keep_existing_attribute_arrangement = false
csharp_place_type_attribute_on_same_line = never
csharp_place_method_attribute_on_same_line = never
csharp_place_accessorholder_attribute_on_same_line = never
csharp_place_accessor_attribute_on_same_line = never
csharp_place_field_attribute_on_same_line = never
csharp_wrap_parameters_style = chop_if_long
csharp_max_formal_parameters_on_line = 3
csharp_keep_existing_declaration_parens_arrangement = false
csharp_wrap_before_declaration_lpar = false
csharp_wrap_after_declaration_lpar = false
csharp_wrap_before_declaration_rpar = false
csharp_place_constructor_initializer_on_same_line = false
csharp_keep_existing_expr_member_arrangement = false

csharp_place_expr_method_on_single_line = never # Todo - Check This
csharp_place_expr_property_on_single_line = if_owner_is_single_line
csharp_place_expr_accessor_on_single_line = if_owner_is_single_line

csharp_wrap_before_arrow_with_expressions = true
csharp_place_type_constraints_on_same_line = true
csharp_wrap_before_first_type_parameter_constraint = false
csharp_wrap_multiple_type_parameter_constraints_style = chop_always
csharp_wrap_before_type_parameter_langle = true
csharp_wrap_before_extends_colon = true
csharp_wrap_extends_list_style = chop_always
csharp_keep_existing_declaration_block_arrangement = false
csharp_place_abstract_accessorholder_on_single_line = true
csharp_place_simple_accessorholder_on_single_line = true
csharp_place_accessor_with_attrs_holder_on_single_line = false
csharp_place_simple_accessor_on_single_line = true
csharp_place_simple_method_on_single_line = false
csharp_keep_existing_enum_arrangement = false
csharp_max_enum_members_on_line = 1
csharp_place_simple_enum_on_single_line = false
csharp_wrap_enum_declaration = chop_always
new_line_before_else = true
csharp_new_line_before_while = false
new_line_before_catch = true
new_line_before_finally = true
csharp_wrap_for_stmt_header_style = chop_if_long
csharp_wrap_multiple_declaration_style = wrap_if_long
csharp_keep_existing_embedded_arrangement = false
csharp_place_simple_embedded_statement_on_same_line = if_owner_is_single_line
csharp_place_simple_case_statement_on_same_line = if_owner_is_single_line
csharp_keep_existing_embedded_block_arrangement = false
csharp_place_simple_embedded_block_on_same_line = false
csharp_place_simple_anonymousmethod_on_single_line = false
csharp_keep_existing_switch_expression_arrangement = false
csharp_place_simple_switch_expression_on_single_line = false
csharp_wrap_switch_expression = chop_always

csharp_keep_existing_initializer_arrangement = false
csharp_place_simple_initializer_on_single_line = false
csharp_max_initializer_elements_on_line = 1
csharp_wrap_object_and_collection_initializer_style = chop_always
csharp_max_array_initializer_elements_on_line = 1
csharp_wrap_array_initializer_style = chop_always

csharp_wrap_arguments_style = chop_if_long
csharp_max_invocation_arguments_on_line = 3
csharp_keep_existing_invocation_parens_arrangement = false
csharp_wrap_before_invocation_lpar = false
csharp_wrap_after_invocation_lpar = true
csharp_wrap_before_invocation_rpar = false
csharp_wrap_after_dot_in_method_calls = false
csharp_wrap_chained_method_calls = chop_always
csharp_wrap_before_binary_opsign = true
csharp_wrap_chained_binary_expressions = chop_if_long
csharp_force_chop_compound_if_expression = false
csharp_force_chop_compound_while_expression = false
csharp_force_chop_compound_do_expression = false
csharp_wrap_before_ternary_opsigns = true
csharp_wrap_ternary_expr_style = chop_if_long
csharp_nested_ternary_style = expanded
csharp_wrap_linq_expressions = chop_always
csharp_wrap_before_linq_expression = false
csharp_place_linq_into_on_new_line = true
csharp_wrap_verbatim_interpolated_strings = no_wrap


###############################
# C# Line Alignment and Indentation Rules         #
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpIndentStylePageSchema.html
###############################

csharp_indent_style = space
csharp_indent_size = 4
csharp_tab_width = 4
csharp_continuous_indent_multiplier = 1
csharp_indent_nested_usings_stmt = false
csharp_indent_nested_fixed_stmt = false
csharp_indent_nested_lock_stmt = false
csharp_indent_nested_for_stmt = true
csharp_indent_nested_foreach_stmt = true
csharp_indent_nested_while_stmt = true
csharp_use_continuous_indent_inside_parens = true
csharp_indent_method_decl_pars = outside_and_inside
csharp_indent_invocation_pars = outside_and_inside
csharp_indent_statement_pars = outside_and_inside
csharp_indent_typeparam_angles = outside_and_inside
csharp_indent_typearg_angles = outside_and_inside
csharp_indent_pars = outside_and_inside
csharp_indent_preprocessor_if = no_indent
csharp_indent_preprocessor_region = no_indent
csharp_indent_preprocessor_other = no_indent
indent_switch_labels = true
csharp_indent_type_constraints = true
csharp_stick_comment = false
csharp_place_comments_at_first_column = false
csharp_use_indent_from_previous_element = true
csharp_alignment_tab_fill_style = use_spaces
csharp_align_multiline_parameter = false
csharp_align_multiline_extends_list = false
csharp_align_linq_query = false
csharp_align_multiline_binary_expressions_chain = false
csharp_outdent_binary_ops = true
csharp_align_multiline_calls_chain = false
csharp_outdent_dots = false
csharp_align_multiline_array_and_object_initializer = false
csharp_align_multiline_switch_expression = false
csharp_indent_anonymous_method_block = false
csharp_align_first_arg_by_paren = false
csharp_align_multiline_argument = false
csharp_align_tuple_components = true
csharp_align_multiline_expression = false
csharp_align_multiline_for_stmt = true
csharp_align_multiple_declaration = true
csharp_align_multline_type_parameter_list = false
csharp_align_multline_type_parameter_constrains = true
csharp_outdent_commas = false
csharp_int_align_fields = false
csharp_int_align_properties = false
csharp_int_align_methods = false
csharp_int_align_parameters = false
csharp_int_align_variables = false
csharp_int_align_assignments = false
csharp_int_align_nested_ternary = false
csharp_int_align_invocations = false
csharp_int_align_binary_expressions = false
csharp_int_align_comments = true
csharp_int_align_switch_sections = false
csharp_int_align_switch_expressions = false


###############################
# C# Blank Line Rules         #
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpIndentStylePageSchema.html
###############################

csharp_blank_lines_around_region = 1
csharp_blank_lines_inside_region = 1
csharp_blank_lines_before_single_line_comment = 1
csharp_keep_blank_lines_in_declarations = 1
csharp_remove_blank_lines_near_braces_in_declarations = true
csharp_blank_lines_after_start_comment = 0
csharp_blank_lines_between_using_groups = 1
csharp_blank_lines_after_using_list = 1
csharp_blank_lines_around_namespace = 1
csharp_blank_lines_inside_namespace = 1
csharp_blank_lines_around_type = 1
csharp_blank_lines_inside_type = 0
csharp_blank_lines_around_field = 1
csharp_blank_lines_around_single_line_field = 0
csharp_blank_lines_around_property = 1
csharp_blank_lines_around_single_line_property = 1
csharp_blank_lines_around_auto_property = 1
csharp_blank_lines_around_single_line_auto_property = 1
csharp_blank_lines_around_invocable = 1
csharp_blank_lines_around_single_line_invocable = 0
csharp_keep_blank_lines_in_code = 1
csharp_remove_blank_lines_near_braces_in_code = 1
csharp_blank_lines_around_local_method = 1
csharp_blank_lines_around_single_line_local_method = 1
csharp_blank_lines_before_control_transfer_statements = 1
csharp_blank_lines_after_control_transfer_statements = 1
csharp_blank_lines_after_block_statements = 1
csharp_blank_lines_around_block_case_section = 1
csharp_blank_lines_around_multiline_case_section = 1
csharp_blank_lines_before_case = 0
csharp_blank_lines_after_case = 0


###############################
# C# Brackets and Braces Rules         #
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpIndentStylePageSchema.html
###############################

csharp_type_declaration_braces = next_line
csharp_indent_inside_namespace = true
csharp_invocable_declaration_braces = next_line
csharp_anonymous_method_declaration_braces = next_line
csharp_accessor_owner_declaration_braces = next_line
csharp_accessor_declaration_braces = next_line
csharp_case_block_braces = next_line
csharp_initializer_braces = next_line
csharp_use_continuous_indent_inside_initializer_braces = true
csharp_other_braces = next_line
csharp_allow_comment_after_lbrace = true
csharp_empty_block_style = multiline

###############################
# C# Coding Style Rules         #
# # https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpCodeStylePageImplSchema.html
###############################

csharp_for_built_in_types = use_var
csharp_for_simple_types = use_var
csharp_for_other_types = use_var
csharp_use_roslyn_logic_for_evident_types = false
csharp_prefer_separate_deconstructed_variables_declaration = false
csharp_prefer_explicit_discard_declaration = false
csharp_instance_members_qualify_members = none
csharp_instance_members_qualify_declared_in = base_class
csharp_static_members_qualify_with = current_type
csharp_static_members_qualify_members = none
csharp_builtin_type_reference_style = use_keyword
csharp_builtin_type_reference_for_member_access_style = use_keyword
csharp_prefer_qualified_reference = false
csharp_add_imports_to_deepest_scope = false
csharp_sort_usings_with_system_first = true
csharp_qualified_using_at_nested_scope = true
csharp_allow_alias = true
csharp_can_use_global_alias = false
csharp_default_private_modifier = explicit
csharp_default_internal_modifier = explicit
csharp_arguments_skip_single = true
csharp_parentheses_redundancy_style = remove_if_not_clarifies_precedence
csharp_parentheses_non_obvious_operations = arithmetic
csharp_parentheses_group_non_obvious_operations = arithmetic
csharp_braces_for_ifelse = required
csharp_braces_for_for = required
csharp_braces_for_foreach = required
csharp_braces_for_while = required
csharp_braces_for_dowhile = required
csharp_braces_for_using = required
csharp_braces_for_lock = required
csharp_braces_for_fixed = required
csharp_braces_redundant = true

csharp_method_or_operator_body = block_body
csharp_local_function_body = block_body
csharp_constructor_or_destructor_body = block_body
csharp_accessor_owner_body = block_body

csharp_use_heuristics_for_body_style = false
csharp_force_attribute_style = separate
csharp_trailing_comma_in_multiline_lists = false
csharp_trailing_comma_in_singleline_lists = false


###############################
# C# Spaces Rules         #
# # https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpCodeStylePageImplSchema.html
###############################
csharp_extra_spaces = remove_all
csharp_space_before_if_parentheses = true
csharp_space_before_while_parentheses = true
csharp_space_before_catch_parentheses = true
csharp_space_before_switch_parentheses = true
csharp_space_before_for_parentheses = true
csharp_space_before_foreach_parentheses = true
csharp_space_before_using_parentheses = true
csharp_space_before_lock_parentheses = true
csharp_space_before_fixed_parentheses = true
csharp_space_before_method_call_parentheses = false
csharp_space_before_empty_method_call_parentheses = false
csharp_space_before_method_parentheses = false
csharp_space_before_empty_method_parentheses = false
csharp_space_before_typeof_parentheses = false
csharp_space_before_default_parentheses = false
csharp_space_before_checked_parentheses = false
csharp_space_before_sizeof_parentheses = false
csharp_space_before_nameof_parentheses = false
csharp_space_between_keyword_and_expression = true
csharp_space_between_keyword_and_type = true
csharp_space_within_if_parentheses = false
csharp_space_within_while_parentheses = false
csharp_space_within_catch_parentheses = false
csharp_space_within_switch_parentheses = false
csharp_space_within_for_parentheses = false
csharp_space_within_foreach_parentheses = false
csharp_space_within_using_parentheses = false
csharp_space_within_lock_parentheses = false
csharp_space_within_fixed_parentheses = false
csharp_space_within_parentheses = false
csharp_space_between_typecast_parentheses = false
space_between_method_declaration_parameter_list_parentheses = false
space_between_method_declaration_empty_parameter_list_parentheses = false
space_between_method_call_parameter_list_parentheses = false
space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_within_typeof_parentheses = false
csharp_space_within_default_parentheses = false
csharp_space_within_checked_parentheses = false
csharp_space_within_sizeof_parentheses = false
csharp_space_within_nameof_parentheses = false
csharp_space_before_array_access_brackets = false
csharp_space_before_array_rank_brackets = false
csharp_space_within_array_access_brackets = false
csharp_space_within_array_rank_brackets = false
csharp_space_within_array_rank_empty_brackets = false
csharp_space_before_type_parameter_angle = false
csharp_space_before_type_argument_angle = false
csharp_space_within_type_parameter_angles = false
csharp_space_within_type_argument_angles = false
csharp_space_before_singleline_accessorholder = true
csharp_space_in_singleline_accessorholder = true
csharp_space_between_accessors_in_singleline_property = true
csharp_space_within_empty_braces = true
csharp_space_in_singleline_method = true
csharp_space_in_singleline_anonymous_method = true
csharp_space_within_single_line_array_initializer_braces = true
csharp_space_around_assignment_op = true
csharp_space_around_logical_op = true
csharp_space_around_equality_op = true
csharp_space_around_relational_op = true
csharp_space_around_bitwise_op = true
csharp_space_around_additive_op = true
csharp_space_around_multiplicative_op = true
csharp_space_around_shift_op = true
csharp_space_around_nullcoalescing_op = true
csharp_space_around_arrow_op = true
csharp_space_after_logical_not_op = false
csharp_space_after_unary_minus_op = false
csharp_space_after_unary_plus_op = false
csharp_space_after_ampersand_op = false
csharp_space_after_asterik_op = false
csharp_space_near_postfix_and_prefix_op = false
csharp_space_before_ternary_quest = true
csharp_space_after_ternary_quest = true
csharp_space_before_ternary_colon = true
csharp_space_after_ternary_colon = true
space_before_comma = false
csharp_space_after_comma = true
space_before_semicolon_in_for_statement = false
space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon = false
space_before_colon_in_inheritance_clause = true
space_after_colon_in_inheritance_clause = true
csharp_space_before_type_parameter_constraint_colon = true
csharp_space_after_type_parameter_constraint_colon = true
csharp_space_before_colon_in_case = false
csharp_space_after_colon_in_case = true
csharp_space_before_attribute_colon = false
csharp_space_after_attribute_colon = true
csharp_space_between_attribute_sections = false
csharp_space_within_attribute_brackets = false
csharp_space_after_attributes = true
space_after_cast = false
csharp_space_around_dot = false
csharp_space_around_lambda_arrow = true
csharp_space_before_pointer_asterik_declaration = false
csharp_space_before_nullable_mark = false
csharp_space_around_alias_eq = true
csharp_space_before_trailing_comment = true
csharp_space_after_operator_keyword = true


###############################
# DISABLED RULES
###############################
dotnet_diagnostic.IDE0046.severity = none # what is this.
dotnet_diagnostic.IDE0058.severity = none # what is this
dotnet_diagnostic.IDE0072.severity = none # disable poupulate switch
dotnet_diagnostic.IDE0010.severity = none
dotnet_diagnostic.CA1000.severity = none

dotnet_diagnostic.CA1822.severity = none # No need to declare private static members within classes.


# Todo - More details on this. - https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/nullable-warnings
# CS8618: Non nullable field _name is not initialized. Consider declare the field as nullable type
dotnet_diagnostic.CS8618.severity = none

dotnet_code_quality.CA1711.allowed_suffixes = Stack
dotnet_code_quality.CA1711.allowed_suffixes = Stack|Stacks


### NOT YET ACTIVATED
spelling_languages = en_us
spelling_checkable_types = strings, identifiers, comments
spelling_error_severity = error
spelling_use_default_exclusion_dictionary = true

[*.{cs,vb}]
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA1854.severity = none
dotnet_diagnostic.CA1852.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2254.severity = none
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CA1819.severity = none
dotnet_diagnostic.CA1030.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.IDE0047.severity = none
dotnet_diagnostic.IDE0048.severity = none

dotnet_diagnostic.S2360.severity = none

dotnet_diagnostic.EL0001.severity = none

#########
# Roslynator
# Set severity for all analyzers that are enabled by default (https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2022#set-rule-severity-of-multiple-analyzer-rules-at-once-in-an-editorconfig-file)
##############

dotnet_analyzer_diagnostic.category-roslynator.severity = error
dotnet_public_api_analyzer.require_api_files = true

roslynator_analyzers.enabled_by_default = true
roslynator_refactorings.enabled = true
roslynator_compiler_diagnostic_fixes.enabled = true

dotnet_diagnostic.RCS1161.severity = warning
dotnet_diagnostic.RCS1124.severity = none

#######################################################################################################################################################################
# Meziantou.Analyzer
#######################################################################################################################################################################
dotnet_diagnostic.MA0007.severity = none
dotnet_diagnostic.MA0016.severity = none
dotnet_diagnostic.MA0026.severity = none
dotnet_diagnostic.MA0003.severity = none
dotnet_diagnostic.MA0165.severity = none



# Exclude specific symbols from MA0016
MA0048.exclude_file_local_types = true
MA0048.only_validate_first_type = true
dotnet_diagnostic.MA0048.excluded_symbol_names = ElementLogic.eLogiq.AirService.Application.Search.ResponsesDtos.*


# MA0051: Method should not be too complex
MA0051.maximum_lines_per_method = 100
MA0051.maximum_statements_per_method = 60
MA0051.skip_local_functions = true # skip local functions when counting statements


dotnet_diagnostic.CA1515.severity = none


# DO NOT UNCOMMENT THIS LINE - IT WILL BREAK THE FILE
# @formatter:off